@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background: url(https://i.pinimg.com/originals/47/75/48/477548814aba86c2634193320bd6aed2.jpg);
    background-size: center;
}

h1{
    display: flex;
    color: rgb(255, 107, 255);
    align-items: center;
    margin-left: 20px;
    font-family: 'Josefin Sans';
    font-size: 55px;
    /* border: 2px solid orange; */
    margin-top: 5vh;
    position: fixed;
    left: 36%;
}

p{
    display: flex;
    color: aqua;
    width: 600px; 
    height: auto;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Josefin Sans';
    position: fixed;
    top: 22vh;
    left: 50vh; 
    justify-content: center;
    align-items: center;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0% 8%;

}

.home-sci a:hover{
    color: #cd09f9;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background:transparent;
    border: 3px solid #e53cff;
    border-radius: 50%;
    font-size: 40px;
    color: #e93afc;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    margin-left: 0px ;
    margin-right: 30px;
  
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #f8ddff;
    z-index: -1;
    transition: 0.5s;
}
.home-sci a:hover::before{ 
    width: 100%;
}


.logo{ 
    display: flex;
    font-size: 25px;
    font-weight: 400;
    /* border: 2px solid red; */
    align-items: center;
    height: 8vh;
}

.logo a{ 
    position: fixed;
    left: 84%;
    bottom: 3%;
    text-decoration: none;
    color: rgb(255, 187, 253);
    transition: 0.3s;
    padding: 5px 20px;
    margin-left: 20px;
    transition: 0.3s;
}


.logo a:hover{ 
    border: 2px solid transparent;
    border-radius: 10px;
    color:  rgb(14, 0, 96);
    background-color: rgb(0, 183, 255);
}