@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300:400:500:600:700:800:900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background: url(https://i.pinimg.com/originals/47/75/48/477548814aba86c2634193320bd6aed2.jpg);
    background-size: center;
}

.header{ 
    /* border: 2px solid red; */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header  h1{
    display: flex;
    color: rgb(255, 107, 255);
    align-items: center;
    margin-left: 20px;
    font-family: 'Josefin Sans';
    font-size: 50px;
    /* border: 2px solid orange; */
    margin-top: 5vh;
}
.header span{ 
    color: rgb(111, 224, 250);
    margin-left: 10px;
}

form {
    border: 2px solid red;
}

form{
    /* border: 2px solid red; */
    line-height: 25px;
    margin: 2% 5%;
    font-size: 28px;
    color: rgb(255, 98, 0);
    font-family: 'Poppins';
}

.form1{
    position: fixed;
    left: 20%;
    top: 18%;
    /* border: 2px solid yellow; */
}

.form2{ 
    position: fixed;
    left: 50%;
    top: 18%;
    width: fit-content;
    accent-color: red;
    size: 20px;
}

.form3{ 
    position: fixed;
    left: 50%;
    top: 40%;
    height: 500px;
    width: fit-content;
    accent-color: red;
    
}
input[type="text"],
input[type="tel"],
input[type="email"]
{
    height: 35px;
    color: rgb(236, 237, 255);
    background-color: rgba(34, 0, 34, 0.68);
    font-size: 20px;
    font-family: 'Poppins';
    border: 3px solid rgb(248, 56, 255);
}
.textarea{


    position: fixed;
    bottom: 15%;
    left: 20%;

}

#textarea1{
    height: 100px;
    width: 750px;
    background-color: rgba(34, 0, 34, 0.68);
    border: 3px solid rgb(248, 56, 255);
    color: aliceblue;
}

input[type="submit"]{
    position: fixed;
    color: red;
    bottom: 3%;
    left: 47%;
    padding: 1%;

    background-color: rgb(230, 0, 230);
    color: aliceblue;
    border: 2px solid rgba(255, 0, 0, 0);
    transition: 0.5s;
}

input[type="submit"]:hover
{
    border: 10px double rgb(248, 56, 255);
    background-color: White;
    font-size: 20px;
    border-radius: 20px;
    color: red;
}
.logo{ 
    display: flex;
    font-size: 25px;
    font-weight: 400;
    /* border: 2px solid red; */
    align-items: center;
    height: 8vh;
}

.logo a{ 
    position: fixed;
    left: 84%;
    bottom: 3%;
    text-decoration: none;
    color: rgb(255, 187, 253);
    transition: 0.3s;
    padding: 5px 20px;
    margin-left: 20px;
    transition: 0.3s;
}


.logo a:hover{ 
    border: 2px solid transparent;
    border-radius: 10px;
    color:  rgb(14, 0, 96);
    background-color: rgb(0, 183, 255);
}