@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background: url(https://i.pinimg.com/originals/47/75/48/477548814aba86c2634193320bd6aed2.jpg);
    background-size: center;
}

.header{ 
    /* border: 2px solid red; */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header  h1{
    display: flex;
    color: rgb(255, 107, 255);
    align-items: center;
    margin-left: 20px;
    font-family: 'Josefin Sans';
    font-size: 50px;
    /* border: 2px solid orange; */
    margin-top: 5vh;
}
.header span{ 
    color: rgb(111, 224, 250);
}




.main{
    height: 45px;
    margin-top: 10vh;
    width: 100%;
    margin-left: 40px;
    font-family: 'Josefin Sans';
}



.main ol li{
    color: rgb(158, 202, 217);
    font-size: 33px;
    margin-left: 40px;
}

.main ul li{ 
    color: rgb(159, 194, 225);
    margin-left: 40px;
    
    width: fit-content;
    font-size: 25px;
    line-height: 22px;
}

.gallery {
    width:auto;
    height: auto;
    margin: 50px;
    left: 54%;
    bottom: 12%;   
  }
  
 