@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background: url(https://i.pinimg.com/originals/47/75/48/477548814aba86c2634193320bd6aed2.jpg);
    background-size: cover;
}

.header{ 
    /* border: 2px solid red; */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header  h1{
    display: flex;
    color: rgb(255, 107, 255);
    align-items: center;
    margin-left: 20px;
    font-family: 'Josefin Sans';
    font-size: 50px;
    /* border: 2px solid orange; */
    margin-top: 5vh;
}
.header span{ 
    color: rgb(111, 224, 250);
}

.header .logo{ 
    /* border: 2px solid orange; */
    margin-right: 50px;
}

.header .logo a{ 
    font-size: 20px;
    color: rgb(251, 20, 255);
    font-weight: 500;
    font-family: 'Josefin Sans';
}

.main{
    height: 500px;
    margin-top: 5vh;
    width: 70%;
    margin-left: 50px;
}

.logo{ 
    display: flex;
    font-size: 25px;
    font-weight: 400;
    /* border: 2px solid red; */
    align-items: center;
    height: 8vh;
}

.logo a{ 
    position: fixed;
    left: 84%;
    bottom: 3%;
    text-decoration: none;
    color: rgb(255, 187, 253);
    transition: 0.3s;
    padding: 5px 20px;
    margin-left: 20px;
    transition: 0.3s;
}


.logo a:hover{ 
    border: 2px solid transparent;
    border-radius: 10px;
    color:  rgb(14, 0, 96);
    background-color: rgb(0, 183, 255);
}

.main ol li{
    color: white;
    font-size: 33px;
    margin-left: 40px;
}

.main ul li{ 
    color: aliceblue;
    margin-left: 60px;
    background-color: rgba(42, 1, 81, 0.563);
    width: fit-content;
    font-size: 20px;
    line-height: 24px;
}

.container{ 
    height: 500px;
    /* border: 2px solid red; */
    position: fixed;
    left: 54%;
    bottom: 12%;
}

img{ 
    height: 500px;
    border: 10px double purple;
    transition: 0.5s;
}

img:hover{ 
    border: 2px solid transparent;
}